// Confirmation Modal behaviour

.modal-wrapper-closed {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  animation: fade-out 300ms both;
}

.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  animation: fade-in 300ms both;
}

.modal-wrapper-container {
  margin: 25% auto;
  background: #393e46;
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-radius: 5px;
  animation: toRight 600ms ease-in-out;


  @keyframes toRight {

    0%{
      transform: translateX(9999px);

    }
    100%{
      transform: translateX(0px);

    }
    
  }


  & > p {
    color: #fff;
    font-size: 24px;
    color: #f96d00;
  }

  & > button {
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px 15px;
  }
}

.modal-wrapper-container-closed {
  margin: 25% auto;
  background: #393e46;
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-radius: 5px;
  animation: toleft 600ms ease-in-out;



  @keyframes toleft {

    0%{
      transform: translateX(0px);

    }
    100%{
      transform: translateX(9999px);

    }
    
  }

}

