.employee-list-wrapper {
  margin: 2% auto;
  width: 1100px;
  text-align: center;
  position: relative;

  h1 {
    color: #fff;
    font-size: 35px;
  }

  &--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--title-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      position: absolute;
      left: 0;

    }
  }
}
