.employee-list-wrapper {
  margin: 2% auto;
  width: 1100px;
  height: 600px;
  text-align: center;
  position: relative;

  a {
    position: absolute;
    left: 0;
    top: 0;
  }

  h1 {
    color: #fff;
    font-size: 35px;
  }
}

.top-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}